/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		// -----------------------------------------------------------------------------------------
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
		// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
		// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
		//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
		base {
			bindings = <
			&kp GRAVE                       &kp Q	&kp W	&kp E	&kp R	&kp T        &kp Y    &kp U  &kp I       &kp O    &kp P     &kp BSPC
			&mt LS(LA(LC(LG(F20)))) ESCAPE  &kp A	&kp S	&kp D	&kp F	&kp G        &kp H    &kp J  &kp K       &kp L    &kp SEMI  &kp SQT
			&kp TAB                         &kp Z	&kp X	&kp C	&kp V	&kp B        &kp N    &kp M  &kp COMMA   &kp DOT  &kp FSLH  &kp BACKSLASH
			&to 0  &to 3  &kp SPACE    &kp RET  &to 1  &to 0 
			>;
		};

		// -----------------------------------------------------------------------------------------
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
		// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
		// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
		//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
		nav {
			bindings = <
			&trans  &trans  &trans  &trans  &trans  &trans  &trans &kp PAGE_UP  &kp UP  &kp PAGE_DOWN  &kp C_VOLUME_UP  &trans
			&trans  &trans  &trans  &trans  &trans  &trans  &kp HOME    &kp LEFT    &kp DOWN            &kp RIGHT           &kp END         &trans
			&trans  &trans  &trans  &trans  &trans  &trans	&trans  &trans  &trans  &trans  &trans  &trans
			&trans	&trans 	&trans	&trans	&to 2	&trans
			>;
		};	

		// -----------------------------------------------------------------------------------------
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
		// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
		// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
		//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
		mouse {
			bindings = <
			&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
			&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
			&trans	&trans 	&trans	&trans	&to 0	&trans
			>;
		};

		// -----------------------------------------------------------------------------------------
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
		// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
		// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
		//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
		symbol {
			bindings = <
			&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp NUMBER_6  &kp N7      &kp N8    &kp N9    &kp N0    &trans
			&trans  &trans        &trans        &trans        &trans        &trans    &kp MINUS     &kp EQUAL   &kp LBKT  &kp RBKT  &kp BSLH  &trans
			&trans  &trans        &trans        &trans        &trans        &trans    &kp COMMA     &kp PERIOD  &kp LBRC  &kp RBRC  &kp PIPE  &trans
			&trans	&to 4 			&trans	&trans	&trans	&trans
			>;
		};
		
		// -----------------------------------------------------------------------------------------
		// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
		// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
		// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
		//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
		other {
			bindings = <
			&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
			&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
			&trans	&to 0 			&trans	&trans	&trans	&trans
			>;
		};
	};
};
